{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "globals": {
        "afterEach": false,
        "beforeEach": false,
        "describe": false,
        "it": false
    },
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "no-unused-expressions": "off",
        "react/jsx-filename-extension": "off"
    }
}